body {
  margin: 0;
  padding: 0;
  background: var(--background);
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	transition: background 200ms linear, color 200ms linear;
}
// #root {
// 	max-width: 762px;
// 	margin: 0 auto;
// }

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
	outline-color: var(--primary);
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--gray: #A4A4A4;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--background: #F5F6F8;
	--toastify-color-progress: var(--primary);
	--toastify-color-progress-light: var(--primary);
	--font-family: noto sans display, sans-serif;
	--color-toggle-light: var(--black);
  --color-toggle-dark: var(--white);
}

:root[data-theme=light] {
	--background: #F5F6F8;
	--card: var(--white);
	--card-blue: #ebe8f9;
	--text-color: var(--black);
	--date-theme: light;
	--input-background: var(--white);
}

:root[data-theme=dark] {
	--card: #2d2c36;
	--background: #3f3d46;
	--card-blue: #47444e;
	--text-color: var(--white);
	--date-theme: dark;
	--input-background: #524f5a;
}

.Toastify__progress-bar--default {
	background: var(--toastify-color-progress) !important;
}
.Toastify__progress-bar--error {
	background: var(--red) !important;
}